body {
    background-color: #1e2326;
}

a {
    color:#7fbbb3;
}
.body {
    background-color:#1e2326;
    color:#d3c6aa;
    text-align: center;
    height:100%;
    width:100%;
    left:0%;
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1e2326;
    color:#d3c6aa
}

.titlebar {
    text-decoration:none;
    text-align: left;
    color: #83c092;
    background-color: #1e2326;
}
.toppy {
    background-color: #1e2326;
    color: #d3c6aa
}
button {
    background-color: #272e33;
    color: #D8DEE9;
    border: none;
    padding: 3px 5px;
}
button:hover {
    background-color: #384b55;
}
button:active {
    background-color: #384b55;
}